#button-save {
	display: block;
	width: 40px;
	margin: 10px 0 0 auto;
}

#option-style {
	display: block;
	width: 100%;
	overflow: scroll;
	resize: none;
	margin-top: 5px;
}

#option-group-style {
	display: block;
}

.option-group {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.option-group label {
	flex-grow: 1;
}

label[for=option-style] {
	display: block;
}
