#save-button {
    display: block;
    width: 40px;
    margin: 10px 0 0 auto;
}

.save-status-important {
	color: red;
}

textarea {
    display: block;
    width: 100%;
    overflow: scroll;
    resize: none;
    margin-top: 5px;
}

#save-group, .option-group {
    margin-top: 10px;
	display: flex;
	align-items: center;
}

.option-group label {
    flex-grow: 1;
}

label[for=option_style] {
    display: block;
}

#option-group-style {
    display: block;
}

#option_backgroundImage {
    font-size: 0;
}

#option_backgroundImage::-webkit-file-upload-button {
    font-size: 13.3333px;
}